body{
   background:url("");
   background-color: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
}

div {
  background-color: rgb(246, 246, 246);
  border: 15px solid green;
  border-style:inset;
  padding: 100px;
  margin: 20px;
  height: 100px;
}
.t1{
    font-size: 50px;
    font-weight: 500;
    padding-left:35%;
    
}
.body-border{
    align-items: center;    
}

.menu{
    padding-top:10px;
    padding-left: 35%;
    font-size: 30px;
    line-height: 50px;
    height:300px
}
button {
    font-size: 20px;
    padding: 10px 20px;
}